.section{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	max-width:1800px;
	height:fit-content;
	.section-text{
		flex:0 1 59%;
		.title{}
		.text{}
	}
	.img-cont{
		flex: 0 1 40%;
		position: relative;
		.img{
			width: 100%;
			height:100%;
			top: 0;
			left:0;
			position: absolute;
			object-fit: cover;
		}
	}
}




// .section{
// 	max-width: 1500px;
// 	max-height: 300px;
// 	display: flex;
// 	align-items: center;
// 	margin: 70px auto;
// 		.section-text{
// 			max-width: 60%;
// 			max-height: inherit;
// 			font-size: 1.5em;
// 			padding: 0 1em;
// 			.title{
// 				font-size: 150%;
// 			}
// 			.text{
// 				max-height: 250px;
// 				overflow: hidden;
// 			}
// 		}
// 		.img{
// 		width: 40%;
// 		max-height:300px;
// 		object-fit: cover;
// 		}
// 		@media (max-width: 1200px) {
// 			display: inline-block;
// 			width: 100vw;
// 			max-height: fit-content;
// 			.section-text{
// 				width: 100vw;
// 				height: fit-content;
// 			}
// 		}
// }





// .section{
// 	max-width: fit-content;
// 	min-height: fit-content;
// 	margin: 0 auto;
// 	padding: 10px 40px;
// 	display: flex;
// 	flex-direction: column;
// 	.img{
// 		border-radius: 15px;
// 		margin:  100px 0;
// 	}
// 	.img1{	
// 		width: 70%;
// 		height: 350px;
// 		object-fit: none;
// 		object-position: 50% -30px;
// 	}
// 	.img2{
// 		width: 70%;
// 		height: 500px;
// 		object-fit: cover;
// 		margin-left:  auto;
// 	}
// 	.img3{
// 		width: 50%;
// 		height: 170px;
// 		margin-top: 100px;
// 	}
// 	.img4{
// 		width: 50%;
// 		height: 170px;
// 		margin-top: 100px;
// 		margin: 100px 0 0 auto;

// 	}
// 	.img5{
// 		width: 50%;
// 		height: 170px;
// 		margin-top: 100px;
// 	}
// }