.nav{
	height: fit-content;
	background-color: rgb(84,84,84);
	ul{
		display: flex;
		align-items: center;
		list-style-type: none;
		justify-content: space-around;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5em;
		font-weight: 500;
		color: white;
		li{ a {color: white;}}}
		.logo{
			width: 1.5em;
			img{
				width: 100%;
				object-fit: contain;
			}
		}
		svg{display: none;}
	@media (max-width:1200px) {
		ul{
			justify-content: space-between;
			padding: 0 25px;
		}
		.ul-first li:not(:first-child){
			display: none;
		}
		svg{
			display: inline-block;
		}	
	}
	.ul-second{
		display: flex;
		flex-direction: column;
	}
	@media (min-width: 1200px) {
			.ul-second{
		display: none;
		}
	}
}
