.nav{
	height: fit-content;
	background-color: rgb(84,84,84);
	ul{
		display: flex;
		align-items: center;
		list-style-type: none;
		justify-content: space-around;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5em;
		font-weight: 500;
		color: white;
		a{
			color: white;
		}
		}
		.logo{
			width: 1.5em;
			img{
				width: 100%;
				object-fit: contain;
			}
		}
		svg{
			display: none;
		}
		// .ul-second{
		// display: none;
		// }
	@media (max-width:1200px) {
		ul{
			justify-content: space-between;
			padding: 0 25px;
		}
		.ul-first li:not(:first-child){
			display: none;
		}
		svg{
			display: inline-block;
		}	
	}
	.ul-second{
		display: flex;
		flex-direction: column;
	}
}



// .menu{
			// 	width: 5vw;
			// 	height: 1.5em;
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	position: relative;
			// 	cursor: pointer; 
			// 	transition: all .5sec ease-in-out;
			// 	.menu-btn{
			// 		min-width: 2em;
			// 		height: .2em;
			// 		background-color: white;
			// 		border-radius: 1vh;
			// 		transition: all .5sec ease-in-out;
			// 	}
			// 	.menu-btn::before,
			// 	.menu-btn::after{
			// 		content: '';
			// 		position: absolute;
			// 		min-width: 2em;
			// 		height: .2em;
			// 		background-color: white;
			// 		border-radius: 1vh;
			// 		transition: all .5sec ease-in-out;
			// 	}
			// 	.menu-btn::before{
			// 		transform: translateY(-12px);
			// 	}
			// 	.menu-btn::after{
			// 		transform: translateY(12px);
			// 	}
			// }
			// .menu.open{
			// 		.menu-btn{
			// 		transform: translateX(-50px);
			// 		background: transparent;
			// 		box-shadow: none;
			// 		}
			// 		.menu-btn::before{
			// 		transform: rotate(45deg) translate(35px, -35px);
			// 		}
			// 		.menu-btn::after{
			// 		transform: rotate(-45deg) translate(35px, 35px);
				// }
			// }