.nav{
	min-width: fit-content;
	background-color: rgb(247,148,29);
	ul{
		min-width: fit-content;
		display: flex;
		align-items: center;
		list-style-type: none;
		justify-content: space-around;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5em;
		.logo{
			height: 50px;
			width: 50px;
			img{
				width: 100%;
				object-fit: contain;
			}
		}
	}
}